/* In your CSS */
:root {
    --color-primary: #f5f5f5;
    --color-primary-dark: #EDF2F7;
    --color-secondary: black;
    --color-secondary-light: #424242;
    --color-dark-accent:#2D3748;
    --color-accent: #805AD5;
  }

/* Base Tailwind CSS */
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/*  Font Styling */
body {
    @apply text-lg
}

h1 { 
    @apply text-5xl
}
h2 { 
    @apply text-4xl
}
h3 { 
    @apply text-3xl
}
h4 { 
    @apply text-2xl
}
h5 { 
    @apply text-xl
}
h6 { 
    @apply text-lg font-bold
}